[Unit]
Description=Volumio oled UI nightly
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python -u /home/volumio/OledUI-Remote/oledui-nightly.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=oledui-nightly
User=pi
Group=pi
 
[Install]
WantedBy=multi-user.target
