[Unit]
Description=RC2-UI
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/local/bin/python3 -u /home/volumio/NR1-UI/rc2ui.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rc2ui-nightly
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
