[Unit]
Description=RC2-UI
 
[Service]
Type=simple
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 -u /home/pi/RC2-UI/rc2ui.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rc2ui-nightly
User=pi
Group=sudo
 
[Install]
WantedBy=multi-user.target
